<link rel="stylesheet" href="/public/css/footer.css">
<footer class="w-100 py-1 flex-shrink-0 bg-dark mt-5">
    <div class="container py-4 mt-">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="h2 text-white">JOBSHALA</h5>
                <p class="small text-muted">A world where you can discover your passion and turn it into your career.</p>
                <p class="small text-muted mb-0">&copy; JobShala. All rights reserved. 
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-muted mb-3">Quick links</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="#" class="text-white" >Home</a></li>
                    <li><a href="#" class="text-white" >About Us</a></li>
                    <li><a href="#" class="text-white" >Post Internship</a></li>
                    <li><a href="#" class="text-white" >Post Job</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-muted mb-3">Quick links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">View all jobs</a></li>
                    <li><a href="#" class="text-white" >View all internships</a></li>
                  
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-3">Contact Us</h5>
                
                <form action="#">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="Ask your query here" aria-label="Ask your query here" aria-describedby="button-addon2">
                        <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</footer>