<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">JobShala</a>
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img src="https://images.unsplash.com/photo-1633409361618-c73427e4e206?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                    class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link me-2 text-light" href="#">About Us</a>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Internships
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item text-muted" href="#">Work From Home</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Internship in Bangalore</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Internship in Delhi</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Internship in Hyderabad</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Internship in Mumbai</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Internship in Chennai</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Internship in Pune</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Internship in Kolkata</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Internship in Jaipur</a></li>
                        <li><a class="dropdown-item text-muted" href="#">International Internship</a></li>
                        <li><a class="dropdown-item text-dark" href="#">View all Internships</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Jobs
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item text-muted" href="#">Work From Home</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Jobs in Bangalore</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Jobs in Delhi</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Jobs in Hyderabad</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Jobs in Mumbai</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Jobs in Chennai</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Jobs in Pune</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Jobs in Kolkata</a></li>
                        <li><a class="dropdown-item text-muted" href="#">Jobs in Jaipur</a></li>
                        <li><a class="dropdown-item text-dark" href="/jobs">View all Jobs </a></li>
                    </ul>
                </div>
                <div class="dropdown me-5">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Login/Register
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item text-muted" href="/registerstudent">Register as Student</a></li>
                        <li><a class="dropdown-item text-muted" href="/registeremployer">Register as Employer</a></li>
                        <li><a class="dropdown-item text-muted" href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>