<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/employerdashboard.css">
</head>

<body>
    <div class="app-container">
        <div class="sidebar">
            <div class="sidebar-header"><div class="app-icon"> Jobshala </div></div>
            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-home">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                            <polyline points="9 22 9 12 15 12 15 22" />
                        </svg>
                        <br>
                        <span">Home</span>
                    </a>
                </li>
                <li class="sidebar-list-item active">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-bag">
                            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
                            <line x1="3" y1="6" x2="21" y2="6" />
                            <path d="M16 10a4 4 0 0 1-8 0" />
                        </svg>
                        <span class="sidebartext">DashBoard</span>
                    </a>
                </li>
            </ul>
            <div class="account-info">
                <div class="account-info-picture">
                    <img src="https://images.unsplash.com/photo-1527736947477-2790e28f3443?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE2fHx3b21hbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
                        alt="Account">
                </div>
                <div class="account-info-name">
                    <%=currentUser.FirstName%>
                        <%=currentUser.LastName%>
                </div>
                <!-- <button class="account-info-more">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-more-horizontal">
                        <circle cx="12" cy="12" r="1" />
                        <circle cx="19" cy="12" r="1" />
                        <circle cx="5" cy="12" r="1" />
                    </svg>
                </button> -->
            </div>
        </div>
        <div class="app-content">
            <div class="app-content-header">
                <h1 class="app-content-headerText">DashBoard</h1>
                <div class="justify">
                    <form action="/jobs/new">
                        <button class="app-content-headerButton ms-2">Create a new job</button>
                    </form>
                    <form action="/internships/new">
                        <button class="app-content-headerButton ms-2">Create a new internship</button>
                    </form>
                </div>
            </div>

            <div class="products-area-wrapper">
                <div class="products-header">
                    <div class="product-cell role">Role</div>
                    <div class="product-cell location">Location</div>
                    <div class="product-cell status-cell">Status</div>
                    <div class="product-cell applied">Applied</div>
                    <div class="product-cell shortlisted">Shortlisted</div>
                    <div class="product-cell hired">Hired</div>
                </div>
                <div class="products-row">
                    <div class="product-cell role">
                        <!-- <img src="https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                            alt="product"> -->
                        <span class="cell-label">SDE II</span>
                    </div>
                    <div class="product-cell location"><span class="cell-label">Delhi</span></div>
                    <div class="product-cell status-cell">
                        <span class="cell-label"></span>
                        <span class="status active">Active</span>
                    </div>
                    <div class="product-cell applied"><span class="cell-label">12</span></div>
                    <div class="product-cell shortlisted"><span class="cell-label">5</span></div>
                    <div class="product-cell hired"><span class="cell-label">2</span></div>
                </div>
                <div class="products-row">
                    <div class="product-cell role">
                        <!-- <img src="https://images.unsplash.com/photo-1484154218962-a197022b5858?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8a2l0Y2hlbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
                            alt="product"> -->
                        <span class="cell-label">Analyst</span>
                    </div>
                    <div class="product-cell location"><span class="cell-label">Delhi</span></div>
                    <div class="product-cell status-cell">
                        <span class="cell-label"></span>
                        <span class="status disabled">Disabled</span>
                    </div>
                    <div class="product-cell applied"><span class="cell-label">11</span></div>
                    <div class="product-cell shortlisted"><span class="cell-label">5</span></div>
                    <div class="product-cell hired"><span class="cell-label">2</span></div>
                </div>
                <div class="products-row">
                    <div class="product-cell role">
                        <!-- <img src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=900&q=60"
                            alt="product"> -->
                        <span class="cell-label">SDE Intern</span>
                    </div>
                    <div class="product-cell location"><span class="cell-label">Bangalore</span></div>
                    <div class="product-cell status-cell">
                        <span class="cell-label"></span>
                        <span class="status active">Active</span>
                    </div>
                    <div class="product-cell applied"><span class="cell-label">11</span></div>
                    <div class="product-cell shortlisted"><span class="cell-label">5</span></div>
                    <div class="product-cell hired"><span class="cell-label">3</span></div>
                </div>
                <div class="products-row">
                    <div class="product-cell role">
                        <!-- <img src="https://images.unsplash.com/photo-1595526114035-0d45ed16cfbf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmVkcm9vbXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
                            alt="product"> -->
                        <span class="cell-label">Product Manager</span>
                    </div>
                    <div class="product-cell location"><span class="cell-label">Noida</span></div>
                    <div class="product-cell status-cell">
                        <span class="cell-label"></span>
                        <span class="status disabled">Disabled</span>
                    </div>
                    <div class="product-cell applied"><span class="cell-label">12</span></div>
                    <div class="product-cell shortlisted"><span class="cell-label">6</span></div>
                    <div class="product-cell hired"><span class="cell-label">2</span></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>