<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/studentdashboard.css">
</head>

<body>
    <div class="app-container">
        <div class="sidebar">
            <div class="sidebar-header">
                <div class="app-icon"> Jobshala </div>
            </div>
            <ul class="sidebar-list">

                <li class="sidebar-list-item">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-home">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                            <polyline points="9 22 9 12 15 12 15 22" />
                        </svg>
                        <span>Home</span>
                    </a>
                </li>

                <li class="sidebar-list-item active">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-bag">
                            <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
                            <line x1="3" y1="6" x2="21" y2="6" />
                            <path d="M16 10a4 4 0 0 1-8 0" />
                        </svg>
                        <span class="sidebartext">Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="app-content">
            <div class="app-content-header">
                <h1 class="app-content-headerText">Dashboard</h1>
                <a href="/profile/<%=currentUser._id%>/edit" class="app-content-headerButton hide">My Profile</a>
            </div>
            <div class="products-header">
                <div class="product-cell company">Company</div>
                <div class="product-cell role">Role</div>
                <div class="product-cell date">Applied on</div>
                <div class="product-cell applicants">No. of applicants</div>
                <div class="product-cell status-cell">Status</div>
                <div class="product-cell review"></div>
            </div>
            <% for(var i=0;i < jobApplications.length; i++){ %>
                <div class="products-row">
                    <div class="product-cell company"><span>
                            <%= jobApplications[i].Company%>
                        </span></div>
                    <div class="product-cell role"><span class="cell-label">
                            <%= jobApplications[i].Name%>
                        </span></div>
                    <div class="product-cell date"><span class="cell-label">11 June' 22</span></div>
                    <div class="product-cell applicants"><span class="cell-label">
                            <%= jobApplications[i].Applicants.length %>
                        </span></div>
                    <div class="product-cell status-cell">
                        <span class="cell-label"></span>
                        <span class="status disabled">Not Selected</span>
                    </div>
                    <div class="product-cell review"><span class="cell-label">Review Application</span></div>
                </div>
                <% } %>

        </div>
    </div>
    </div>
    <footer class="footer bg-dark py-3 mt-auto">
        <div class="container">
            <span class="text-muted">&copy;Job Shala 2022</span>
        </div>
    </footer>
</body>

</html>