@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --app-bg: #fff;
  --sidebar: #a6a0ff;
  --app-content-secondary-color: #a6a0ff;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-hover-link: #6C63FF;
  --sidebar-active-link: #6C63FF;
  --sidebar-main-color: #000000;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  overflow: hidden;
  /* font-family: &#39; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var( --app-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  /* width: 100%;
  max-height: 100%; */
  height: 100%;
  display: flex;
  overflow: hidden;
  /* max-width: 2000px; */
  margin: 0 auto;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-size: 1.3rem;
  font-weight: 600;
}
.app-icon {
  font-size: 1.8rem;
}
.sidebar {
  flex-basis: 200px;
  /* max-width: 200px; */
  flex-shrink: 0;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
}
.sidebar-list-item {
  position: relative;
  margin-bottom: 4px;
}
.sidebar-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  color: #000;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}
.sidebar-list-item svg {
  margin-right: 8px;
}
.sidebar-list-item:hover {
  background-color: var(--sidebar-hover-link);
}
.sidebar-list-item.active {
  background-color: #4a458d;
}
.sidebar-list-item.active svg {
  color:#fff;
}
.sidebartext {
  color: #fff;
}

.account-info {
  display: flex;
  align-items: center;
  padding: 16px;
  margin-top: auto;
}
.account-info-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.account-info-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.account-info-name {
  font-size: 14px;
  color: var(--sidebar-main-color);
  margin: 0 16px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* .account-info-more {
  color: var(--sidebar-main-color);
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
} */

.app-content {
  padding: 16px;
  background-color: var(--app-bg);
  height: 100%;
  flex: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.app-content-header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0 4px;
}
.app-content-headerText {
  color: var(--app-content-main-color);
  font-size: 34px;
  line-height: 32px;
  margin-top: 1rem;
}
form {
  direction: rtl;
}
.app-content-headerButton {
  /* position: absolute; */
  background-color:#4a458d;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  height: 32px;
  margin: 4px 0;
  padding: 0 16px;
  text-align: right;
  /* transition: 0.2s; */
  cursor: pointer;
  /* display: inline-block; */
    vertical-align: top;
}
.app-content-headerButton:hover {
  border:1px solid #000;
  
}

.products-area-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 4px;
  margin-top: 4px;
}
.products-header {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--app-content-secondary-color);
  position: sticky;
  top: 0;
}
.products-row {
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.products-row:hover {
  box-shadow: var(--filter-shadow);
  background-color: var(--app-content-secondary-color);
}

.product-cell {
  flex: 1;
  padding: 8px 16px;
  color: var(--app-content-main-color);
  font-size: 14px;
  display: flex;
  align-items: center;
}

/* .product-cell img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  margin-right: 6px;
} */

.status {
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 12px;
}
.status:before {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 4px;
}

.status.active {
  color: #2ba972;
  background-color: rgba(43, 169, 114, 0.2);
}
.status.active:before {
  background-color: #2ba972;
}
.status.disabled {
  color: #59719d;
  background-color: rgba(89, 113, 157, 0.2);
}
.status.disabled:before {
  background-color: #59719d;
}


@media screen and (max-width: 975px) {
  .sidebar {
    flex-basis: 60px;
    max-width: 60px;
    flex-shrink: 0;
    background-color: var(--sidebar);
    display: flex;
    flex-direction: column;
  }
  .sidebar-header {
    width: 100%;
  }
  .sidebar-header img {
    /* display: flex; */
    /* justify-content: space-between; */
    /* font-size: 12px; */
    /* font-weight: 500; */
    padding: 4px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    align-items: center;
    align-self: center; 
    object-fit: cover;
  }
  .sidebar-list {
    list-style-type: none;
    padding: 0;
  }
  .sidebar-list-item {
    position: relative;
    margin-bottom: 10px;
  }
  .sidebar-list-item a {
    display:list-item;
    overflow-wrap: break-word;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2px 2px;
    color: var(--sidebar-link);
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
  }
  .sidebar-list-item svg {
    margin-right: 0px;
  }

  .account-info {
    display:list-item;
    align-items: center;
    padding: 2px;
    margin-top: auto;
    width: 60px;
    height: auto;
    margin-bottom: 1rem;
  }
  .account-info-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin:0 12px;
  }
  .account-info-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .account-info-name {
    /* margin-top: 40px; */
    /* display: list-item; */
    font-size: 8px;
    color: var(--sidebar-main-color);
    margin: 0 2px;
    overflow-wrap: break-word;
    height: auto;
    width: 100%;
    /* max-width: 100%; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
  }
}

@media screen and (max-width: 780px) {
  .product-cell {
    font-size: 12px;
  }
}
@media screen and (max-width: 680px) {
  .product-cell {
    font-size: 10px;
  }
  .product-cell.location {
    display: none;
  }
  .app-content-headerButton {
    /* position: absolute; */
    font-size: 10px;
    background-color:#4a458d;
  color: rgb(255, 255, 255);
    /* font-size: 14px; */
    line-height: 22px;
    border: none;
    border-radius: 4px;
    height: 28px;
    padding: 0 16px;
    /* transition: 0.2s; */
    cursor: pointer;
    /* display: inline-block; */
      vertical-align: top;
  }

  .sidebar-list-item a {
    display:list-item;
    /* overflow-wrap: break-word; */
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 2px 4px;
    color: var(--sidebar-link);
    text-decoration: none;
    font-size: 10px;
    line-height: 20px;
  }
  .app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 28px;
    line-height: 26px;
    margin-top: 1rem;
  }

  .status {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 10px;
  }
}

@media screen and (max-width: 580px) {
  .product-cell {
    font-size: 8px;
  }

  .app-content-headerButton {
    /* position: absolute; */
    font-size: 8px;
    background-color:#4a458d;
  color: rgb(255, 255, 255);
    /* font-size: 14px; */
    line-height: 14px;
    border: none;
    border-radius: 4px;
    height: 24px;
    padding: 0 16px;
    /* transition: 0.2s; */
    cursor: pointer;
    /* display: inline-block; */
      vertical-align: top;
  }

  .app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 24px;
    line-height: 22px;
    margin-top: 1rem;
  }

  .status {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 8px;
  }
}

@media screen and (max-width: 480px) {
  /* .product-cell.applied {
    display: none;
  } */

  .product-cell {
    font-size: 6px;
    width: 40px;
  }
  .app-content-headerText {
    color: var(--app-content-main-color);
    font-size: 20px;
    line-height: 18px;
    margin-top: 1rem;
  }
  .app-content-headerButton {
    /* position: absolute; */
    font-size: 6px;
    background-color:#4a458d;
  color: rgb(255, 255, 255);
    /* font-size: 14px; */
    line-height: 10px;
    border: none;
    border-radius: 4px;
    height: 14px;
    padding: 0 16px;
    /* transition: 0.2s; */
    cursor: pointer;
    /* display: inline-block; */
      vertical-align: top;
  }

  .status {
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    font-size: 6px;
  }
}

