@import 
url('https://kodhus.com/kodhus-ui/kodhus-0.1.0.min.css');


::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 15px;
}

/* input::placeholder{
    font-size:15px;
  }
   */
body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  /* background-image: url(hand-painted-watercolor-pastel-sky-background_23-2148902771.webp); */
  /* background-image: url(pexels-craig-adderley-1563356.jpg); */
  /* background-image: url(red-black-brush-stroke-banner-background-perfect-canva.jpg);
    background-image: url(51363.jpg); */
<<<<<<< HEAD
    background-image: url(/images/pexels-lumn-167699.jpg);
     /* background-image: linear-gradient(to right, #16345f, #00527b, #007190, #00909c, #3daea1);  */
    /* background-color: ; */
    background-repeat: no-repeat;
    background-size: 100% 100%
=======
  background-image: url(/images/pexels-lumn-167699.jpg);
  /* background-image: linear-gradient(to right, #16345f, #00527b, #007190, #00909c, #3daea1);  */
  /* background-color: ; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
>>>>>>> 2a8dfad7d345e4dd4461a7b596910b29adc87f10
}

.text-start {
  margin-left: 80px;
}
.text-start2 {
  margin-left: -80px;
}
h2 {
  color: #000;

  font-weight: 800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card {
<<<<<<< HEAD
    padding: 30px 40px;
    margin-top: 80px;
height:80%;
    opacity: 90%;
    margin-bottom: 2px;
    
    box-shadow: 5px 16px 22px 0 rgba(0, 0, 0, 0.324)
=======
  padding: 30px 40px;
  margin-top: 80px;
  height: 80%;
  opacity: 90%;
  margin-bottom: 2px;

  box-shadow: 5px 16px 22px 0 rgba(0, 0, 0, 0.324);
>>>>>>> 2a8dfad7d345e4dd4461a7b596910b29adc87f10
}

.blue-text {
  color: #00bcd4;
}

.form-control-label {
  margin-bottom: 0;
}

input,
textarea,
button {
<<<<<<< HEAD
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px ;
    font-weight: 300
=======
  padding: 8px 15px;
  border-radius: 5px;
  margin: 5px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: 300;
>>>>>>> 2a8dfad7d345e4dd4461a7b596910b29adc87f10
}

input:focus,
textarea:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #00bcd4;
  outline-width: 0;
  font-weight: 400;
}

.btn-block {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  height: 43px;
  cursor: pointer;
}
#tagbutton {
  width: 10.5%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.btn-block:hover {
  color: #fff;
}

button:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline-width: 0;
}

.skillcss {
  margin-top: 20px;
  /* margin-bottom:-10px; */
}
.container {
  width: 100%;
  margin: 0px auto;
}
<<<<<<< HEAD

.descriptioncss{
  
    resize: horizontal;
    overflow: hidden;
=======
>>>>>>> 2a8dfad7d345e4dd4461a7b596910b29adc87f10

.descriptioncss {
  resize: horizontal;
  overflow: hidden;
}
.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}
.width-machine {
  /*   Sort of a magic number to add extra space for number spinner */
  padding: 0 1rem;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.tag-container {
  border: 2px solid #ccc;
  border-radius: 3px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 6px;
  overflow-x: scroll;
}

.tag-container .tag {
  height: 30px;
  margin: 5px;
  padding: 5px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eee;
  display: flex;
  align-items: center;
  color: #333;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
  cursor: default;
}

.tag i {
  font-size: 16px;
  color: #666;
  margin-left: 5px;
}

.tag-container input {
  padding: 5px;
  font-size: 16px;
  border: 0;
  outline: none;
  font-family: "Rubik";
  color: #333;
  flex: 1;
}
<<<<<<< HEAD
@media  screen and (max-width:700px){
=======
.hide-navigation-item {
  display: none;
}
@media screen and (max-width: 700px) {
>>>>>>> 2a8dfad7d345e4dd4461a7b596910b29adc87f10
  #tagbutton {
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
<<<<<<< HEAD
  
  
}
=======
}
.card {
  box-sizing: border-box;
}
>>>>>>> 2a8dfad7d345e4dd4461a7b596910b29adc87f10
