.logo-image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

.logo-image2 {
  width: 46px;
  height: 46px;
  overflow: hidden;
  margin-top: -6px;
}

.hide-navigation-item {
  display: none;
}
#job {
  text-align: center;
  color: black;
}
#internship {
  text-align: center;
  color: black;
}
.stick {
  position: sticky;
  top: 8rem;
}

.icon {
  position: relative;
  top: 7px;
}
.filterbox {
  margin-top: 2px;
  margin-bottom: 2px;
}
.location {
  font-size: 15px;
}

.pill {
  background-color: #f8f8f8;
  border: none;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.button_container2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

input[type="range"]::-webkit-slider-thumb {
  background: rgb(112, 42, 198);
}

.color {
  text-decoration: none;
  font-weight: 500;
  color: rgb(112, 42, 198);
}

@media (max-width: 768px) {
  .hide {
    display: none;
  }
}

.pagination {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 16px;
  margin-top: 10rem;
  margin-bottom: 1rem;
}

.pages {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.page {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.page:hover {
  background-color: rgb(112, 42, 198);
  color: #fff;
}

.active {
  background-color: rgb(112, 42, 198);
  color: #fff;
}

.custom {
  background-color: #fff;
  border: 1px solid rgb(112, 42, 198);
  color: rgb(112, 42, 198);
  height: 30px;
  font-size: 14px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom:hover {
  background-color: rgb(112, 42, 198);
}

.btn--icon {
  height: 24px;
  width: 24px;
  stroke: rgb(112, 42, 198);
}

.btn--icon:hover {
  stroke: #fff;
}

.range {
  display: flex;
  width: 60px;
}

.range__slider {
  width: 45%;
}

.range__value {
  width: 35%;
  margin-left: 45px;
  text-align: center;
  border-left: #e6e4e4 1px solid;
}
#company {
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group label {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #222;
  margin-bottom: 5px;
}

.form-group span {
  font-size: 2rem;
  font-weight: 600;
  color: #3c3b3b;
}

/* slider */

.wrapper {
  position: absolute;
  width: 5vw;
  height: 5vh;
  top: 5vh;
  left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #043643;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.msg {
  color: #fff;
  margin-bottom: 6.5rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
}

.box {
  display: block;
  background-color: rgb(112, 42, 198);
  color: #043643;
  font-size: 0.8rem;
  width: 100%;
  line-height: 2rem;
  height: 2rem;
  letter-spacing: 2px;
}

custom-slider {
  transform: scale(2);
}

.logo-image2 {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}
