<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="css/jobpage.css">
    <div class="heading mt-5">Software
        Development Engineer @Microsoft | Bangalore</div>
    <div class="container2 mx-5">
        <p>
        <h1>Microsoft</h1>
        <h2>SDE Intern <span id="location">Bangalore</span></h2>
        <br>

        <ul>
            <li class="li1">Apply By: 20th July</li>
            <li class="li1">Stipend: 50000</li>
            <li class="li1">Duration: 2 Months</li>
            <li class="li1">Start Date: 8th August</li>
        </ul>

        <!--     
         <hr style="height:10px;margin-left: auto;margin-right: auto;color:white">
     <p2 style="color:black;font-weight:500;font-size:15px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">150 Applicants</p2>
        <br> -->
        <hr style="height:10px;margin-left: auto;margin-right: auto;color:white">
        <h3 style="font-weight: 750;">About Microsoft</h3> <a href="https://www.microsoft.com/en-in/about/"
            target=_blank;style="font-weight:400;color:black">Website</a>
        <br><br>
        <div style="font-weight: 450;font-size: 13px;;">
            Microsoft enables digital transformation for the era of an intelligent cloud and an intelligent edge. Its
            mission is to empower
            every person and every organization on the planet to achieve more. Microsoft set up its India operations in
            1990. Microsoft in India offers its global
            cloud services from local data centers to accelerate digital transformation across Indian start-ups,
            businesses, and government agencies.
        </div> <br>
        <h3 style="font-weight: 750;">About Internship</h3><br>
        <h4 style="font-weight: 750;">Your Daily task includes:</h4>
        <ul>
            <li>Working on the development of high-quality code</li>
            <li>Investigating, analyzing, and replicating issues and providing support to customers</li>
            <li>Write application interface code with JavaScript</li>
        </ul>
        <h3 style="font-weight: 750;">Skills Required</h3>
        <br>
        <span id="skills"> .NET </span><span id="skills"> ASP.NET </span><br><br>
        <span id="skills"> ASP.NET </span><span id="skills"> C++ </span><br><br>
        <span id="skills"> MVC </span><br><br>
        <hr style="height:10px;margin-left: auto;margin-right: auto;color:white">
        <h3 style="font-weight: 750;">Perks</h3>
        <ul>
            <li class="li2">Flexible Work Hours</li>
            <li class="li2">Certificate</li>
        </ul>
        <div class="text-center">
            <button class="button" role="button">Apply Now</button>
        </div>

        <br>




        </p>
    </div>
    <br><br>
    <br><br>