<% layout('layouts/boilerplate') %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/jobs.css">
    <h2 class="mt-5 mb-4" id="job">Job Opportunities </h2>
    <div class="row">
        <div class="col-2 hide"></div>
        <div class="col-3 hide">
            <div class="card stick">
                <div class="card-body">
                    <h5 class="card-title mb-3 text-center">Filter</h5>
                    <form action="">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Location</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="e.g. Marketing">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Category</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="e.g. Delhi">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Company Name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="e.g. Amazon">
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Work From Home
                            </label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Fresher Jobs
                            </label>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Include All Internships
                            </label>
                        </div>
                        <label for="customRange2" class="form-label">Desired minimum monthly stipend (₹)</label>
                        <input type="range" class="form-range" min="0" max="5" id="customRange2">
                        <div class="price ms-2 mb-3">
                            <span>0</span>
                            <span>2K</span>
                            <span>4K</span>
                            <span>6K</span>
                            <span>8K</span>
                            <span>10K</span>
                        </div>
                        <div class="button_container2">
                            <a href="">
                                <div class="color">Clear All</div>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-5" id="show">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="button_container">
                        <h5 class="card-title mb-3 d-inline">Junior Recruiter</h5>
                        <div class="logo-image2 d-inline">
                            <img src="https://internshala.com/cached_uploads/logo%2F5e2fde967dbde1580195478.jpeg"
                                class="img-fluid ">
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-4 text-muted">Astrotalk</h6>
                    <div class="card-text mb-3">
                        <div class="location"><i class="material-icons text-muted icon">&#xe55f;</i> Gurgaon</div>
                    </div>
                    <div class="mb-4">
                        <div class="location text-muted mb-1">
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe039;</i> Start Date</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88f;</i> CTC</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88b;</i> Apply By</span>
                        </div>
                        <div class="text-dark">
                            <span class="ms-1 me-5">Immediately</span>
                            <span class="ms-2 me-5">4 LPA</span>
                            <span class="ms-3 me-5">15 Jul' 22</span>
                        </div>
                    </div>
                    <div class="button_container">
                        <button class="pill text-muted">Freshers Job</button>
                        <a href="">
                            <div class="color">View details<i class="material-icons icon">&#xe5cc;</i></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="button_container">
                        <h5 class="card-title mb-3 d-inline">Business Partner Manager - Sales</h5>
                        <div class="logo-image2 d-inline">
                            <img src="https://internshala.com/cached_uploads/logo%2F619a0b3de12ae1637485373.png"
                                class="img-fluid ">
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-4 text-muted">Friends With Dreams Private Limited</h6>
                    <div class="card-text mb-3">
                        <div class="location"><i class="material-icons text-muted icon">&#xe55f;</i> Delhi</div>
                    </div>
                    <div class="mb-4">
                        <div class="location text-muted mb-1">
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe039;</i> Start Date</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88f;</i> CTC</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88b;</i> Apply By</span>
                        </div>
                        <div class="text-dark">
                            <span class="ms-1 me-5">Immediately</span>
                            <span class="ms-2 me-5">3 LPA</span>
                            <span class="ms-3 me-5">12 Jul' 22</span>
                        </div>
                    </div>
                    <div class="button_container">
                        <button class="pill text-muted">Freshers Job</button>
                        <a href="">
                            <div class="color">View details<i class="material-icons icon">&#xe5cc;</i></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="button_container">
                        <h5 class="card-title mb-3 d-inline">Back Office Executive</h5>
                        <div class="logo-image2 d-inline">
                            <img src="https://internshala.com/cached_uploads/logo%2F621f672fd138b1646225199.jpg"
                                class="img-fluid ">
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-4 text-muted">Comienzo Institute Of Professional Opc Private Limited
                    </h6>
                    <div class="card-text mb-3">
                        <div class="location"><i class="material-icons text-muted icon">&#xe55f;</i> Kolkata</div>
                    </div>
                    <div class="mb-4">
                        <div class="location text-muted mb-1">
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe039;</i> Start Date</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88f;</i> CTC</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88b;</i> Apply By</span>
                        </div>
                        <div class="text-dark">
                            <span class="ms-1 me-5">Immediately</span>
                            <span class="ms-2 me-5">4.5 LPA</span>
                            <span class="ms-3 me-5">15 Jul' 22</span>
                        </div>
                    </div>
                    <div class="button_container">
                        <button class="pill text-muted">Freshers Job</button>
                        <a href="">
                            <div class="color">View details<i class="material-icons icon">&#xe5cc;</i></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="button_container">
                        <h5 class="card-title mb-3 d-inline">Angular.js Developer</h5>
                        <div class="logo-image2 d-inline">
                            <img src="" class="img-fluid ">
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-4 text-muted">Benepik</h6>
                    <div class="card-text mb-3">
                        <div class="location"><i class="material-icons text-muted icon">&#xe55f;</i> Gurgaon</div>
                    </div>
                    <div class="mb-4">
                        <div class="location text-muted mb-1">
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe039;</i> Start Date</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88f;</i> CTC</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88b;</i> Apply By</span>
                        </div>
                        <div class="text-dark">
                            <span class="ms-1 me-5">Immediately</span>
                            <span class="ms-2 me-5">3.5 LPA</span>
                            <span class="ms-3 me-5">12 Jul' 22</span>
                        </div>
                    </div>
                    <div class="button_container">
                        <button class="pill text-muted">Freshers Job</button>
                        <a href="">
                            <div class="color">View details<i class="material-icons icon">&#xe5cc;</i></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="button_container">
                        <h5 class="card-title mb-3 d-inline">Business Development Executive</h5>
                        <div class="logo-image2 d-inline">
                            <img src="" class="img-fluid ">
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-4 text-muted">ConvertCart</h6>
                    <div class="card-text mb-3">
                        <div class="location"><i class="material-icons text-muted icon">&#xe55f;</i> Work From Home
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="location text-muted mb-1">
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe039;</i> Start Date</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88f;</i> CTC</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88b;</i> Apply By</span>
                        </div>
                        <div class="text-dark">
                            <span class="ms-1 me-5">Immediately</span>
                            <span class="ms-2 me-5">8.5 LPA</span>
                            <span class="ms-3 me-5">15 Jul' 22</span>
                        </div>
                    </div>
                    <div class="button_container">
                        <button class="pill text-muted">Freshers Job</button>
                        <a href="">
                            <div class="color">View details<i class="material-icons icon">&#xe5cc;</i></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="button_container">
                        <h5 class="card-title mb-3 d-inline">React Native Developer</h5>
                        <div class="logo-image2 d-inline">
                            <img src="https://internshala.com/cached_uploads/logo%2F5e2fdf149e4911580195604.png"
                                class="img-fluid ">
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-4 text-muted">KoiReader Technologies</h6>
                    <div class="card-text mb-3">
                        <div class="location"><i class="material-icons text-muted icon">&#xe55f;</i>
                            Chennai, Delhi, Kolkata, Bangalore</div>
                    </div>
                    <div class="mb-4">
                        <div class="location text-muted mb-1">
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe039;</i> Start Date</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88f;</i> CTC</span>
                            <span class="me-5"><i class="material-icons text-muted icon">&#xe88b;</i> Apply By</span>
                        </div>
                        <div class="text-dark">
                            <span class="ms-1 me-5">Immediately</span>
                            <span class="ms-2 me-5">5.5 LPA</span>
                            <span class="ms-3 me-5">12 Jul' 22</span>
                        </div>
                    </div>
                    <div class="button_container">
                        <button class="pill text-muted">Freshers Job</button>
                        <a href="">
                            <div class="color">View details<i class="material-icons icon">&#xe5cc;</i></div>
                        </a>
                    </div>x
                </div>
            </div>
        </div>
        <div class="col-7 hide">

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/jobs.js"></script>